      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
      }

      h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.75em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }

      h5 {
        font-size: 1.1em;
      }

      h6 {
        font-size: 1em;
      }

      p, ul, ol, pre, table {
        margin-bottom: 20px;
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
      }

      del {
        text-decoration: line-through;
      }

      blockquote {
        border-left: 4px solid #ddd;
        padding-left: 20px;
        margin-left: 0;
        color: #666;
      }

      code {
        font-family: monospace;
        background-color: #f4f4f4;
        padding: 2px 5px;
        border-radius: 3px;
      }

      pre {
        background-color: #f4f4f4;
        border-radius: 5px;
        padding: 10px;
        overflow-x: auto;
      }

      pre code {
        padding: 0;
        background: none;
      }

      ul, ol {
        padding-left: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid #ddd;
      }

      th, td {
        padding: 10px;
        text-align: left;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .footnote {
        font-size: 0.9em;
        color: #666;
      }
